<section class="welcome">
    <h2>Welcome to the Natura Cafe DBMS!</h2>
    <p class="home-text">Use the navigation above to access different database entities.</p>
    <p class="home-text">Below is a summary of available operations for each entity.</p>
</section>
<div class="index-instructions">
<section class="instructions">
    <h3>Customers</h3>
    <ul>
        <li><strong>View</strong> all customers</li>
        <li><strong>Add</strong> new customer</li>
        <li><strong>Search</strong> for customer</li>
        <li><strong>Delete</strong> customer</li>
    </ul>
</section>
<section class="instructions">
    <h3>Employees</h3>
    <ul>
        <li><strong>View</strong> all employees</li>
        <li><strong>Add</strong> new employee</li>
        <li><strong>Search</strong> for employee</li>
        <li><strong>Update</strong> employee's role</li>
        <li><strong>Delete</strong> employee</li>
    </ul>
</section>
<section class="instructions">
    <h3>Employee Roles</h3>
    <ul>
        <li><strong>View</strong> all roles</li>
        <li><strong>Add</strong> new role</li>
        <li><strong>Delete</strong> role</li>
    </ul>
</section>
<section class="instructions">
    <h3>Menu Items</h3>
    <ul>
        <li><strong>View</strong> all items</li>
        <li><strong>Add</strong> new item</li>
        <li><strong>Search</strong> for item</li>
        <li><strong>Delete</strong> item</li>
    </ul>
</section>
<section class="instructions">
    <h3>Invoices</h3>
    <ul>
        <li><strong>View</strong> all invoices</li>
        <li><strong>Add</strong> new invoice</li>
        <li><strong>Delete</strong> invoice</li>
    </ul>
</section>
<section class="instructions">
    <h3>Invoice Items</h3>
    <ul>
        <li><strong>View</strong> all invoice items</li>
        <li><strong>Add</strong> new invoice item</li>
        <li><strong>Update</strong> invoice item's order quantity</li>
        <li><strong>Delete</strong> invoice item</li>
    </ul>
</section>
</div>